<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.AdminMapper">

    <sql id="questionColumns">
        id, question_text, option_1, option_2, option_3, option_4, correct_answer, image_data, created_at
    </sql>
    
    <!-- 문제 등록 -->
    <insert id="insertQuestion" parameterType="map">
        INSERT INTO ${tableName} (
            id, question_text, option_1, option_2, option_3, option_4, correct_answer,
            <if test="image_data != null">image_data,</if>
            created_at
        ) VALUES (
            ${tableName}_SEQ.NEXTVAL,
            #{question_text},
            #{option_1},
            #{option_2},
            #{option_3},
            #{option_4},
            #{correct_answer},
            <if test="image_data != null">#{image_data, jdbcType=BLOB},</if>
            SYSTIMESTAMP
        )
    </insert>
    
    <!-- 문제 검색 -->
	<select id="getQuestionsBySearch" resultType="org.joonzis.domain.QuestionDTO" parameterType="map">
		SELECT
			id,
			question_text,
			option_1,
			option_2,
			option_3,
			option_4,
			correct_answer,
			image_data
		FROM (
			SELECT
				id,
				question_text,
				option_1,
				option_2,
				option_3,
				option_4,
				correct_answer,
				image_data,
				ROWNUM AS rn  FROM (
				SELECT
					id,
					question_text,
					option_1,
					option_2,
					option_3,
					option_4,
					correct_answer,
					image_data
				FROM ${tableName}
				ORDER BY id DESC
			)
		)
		WHERE rn BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="getTotalQuestionCount" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM ${tableName}
        <where>
            <if test="query != null and query != ''">
                question_text LIKE '%' || #{query} || '%'
            </if>
        </where>
    </select>
    
    <!-- 문제 수정 -->
    <update id="updateQuestion" parameterType="map">
        UPDATE ${tableName}
        SET
            question_text = #{question_text},
            option_1 = #{option_1},
            option_2 = #{option_2},
            option_3 = #{option_3},
            option_4 = #{option_4},
            correct_answer = #{correct_answer},
            <if test="image_data != null">
                image_data = #{image_data, jdbcType=BLOB}
            </if>
            <if test="image_data == null">
                image_data = NULL </if>
        WHERE
            id = #{id}
    </update>
    
    <!-- 문제 삭제 -->
    <delete id="deleteQuestions" parameterType="map"> DELETE FROM ${tableName} WHERE id IN
        <foreach collection="questionIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <!-- 유저 전체 조회 -->
    <select id="selectAllUsers" resultType="org.joonzis.domain.UsersVO">
        SELECT USER_NO, USER_ID, USER_NICK, USER_EMAIL, USER_DATE, USER_POINT, USER_RANK, USER_PLAY_COUNT, USER_1ST_COUNT, USER_PW, ISCHATBANNED, BANNED_TIMESTAMP
        FROM USERS
    </select>
    
    <!-- 유저 검색 -->
    <select id="searchUsers" resultType="org.joonzis.domain.UsersVO" parameterType="map">
        SELECT USER_NO, USER_ID, USER_NICK, USER_EMAIL, USER_DATE, USER_POINT, USER_RANK, USER_PLAY_COUNT, USER_1ST_COUNT, USER_PW, ISCHATBANNED, BANNED_TIMESTAMP
        FROM USERS
        <where>
            <if test="searchType != null and searchValue != null and searchValue != ''">
                <choose>
                    <when test="searchType == 'userNo'">
                        USER_NO LIKE '%' || #{searchValue} || '%'
                    </when>
                    <when test="searchType == 'userId'">
                        USER_ID LIKE '%' || #{searchValue} || '%'
                    </when>
                    <when test="searchType == 'userNick'">
                        USER_NICK LIKE '%' || #{searchValue} || '%'
                    </when>
                    <when test="searchType == 'userRank'">
                        TO_CHAR(USER_RANK) LIKE '%' || #{searchValue} || '%'
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY USER_NO DESC
    </select>
    
    <!-- 유저 챗밴 현황 조회 -->
    <select id="getUsersChatBanStatus" resultType="org.joonzis.domain.UsersVO" parameterType="map">
        SELECT user_no, ISCHATBANNED, user_nick
        FROM users
        WHERE user_no IN
        <foreach item="userNo" collection="userNos" open="(" separator="," close=")">
            #{userNo}
        </foreach>
    </select>
    
    <!-- 유저 챗밴 적용 -->
    <update id="updateChatBanStatus" parameterType="map">
        UPDATE users
        SET
            ISCHATBANNED = 1,
            BANNED_TIMESTAMP = #{bannedTimestamp}
        WHERE user_no IN
        <foreach item="userNo" collection="userNos" open="(" separator="," close=")">
            #{userNo}
        </foreach>
        AND ISCHATBANNED = 0
    </update>
    
    <!-- 유저 챗밴 해제 -->
    <update id="unbanChatUsers">
        UPDATE USERS
        SET
            ISCHATBANNED = 0,
            BANNED_TIMESTAMP = NULL
        WHERE
            ISCHATBANNED = 1
            AND BANNED_TIMESTAMP IS NOT NULL
            AND BANNED_TIMESTAMP <![CDATA[ <= ]]> (SYSTIMESTAMP - INTERVAL '72' HOUR)
    </update>
</mapper>