<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.AdminMapper">
    <insert id="insertQuestion" parameterType="org.joonzis.domain.QuestionDTO">
        INSERT INTO Question (
            id,
            subject, question_text,
            option_1,
            option_2,
            option_3,
            option_4,
            correct_answer,
            <if test="image_data != null">image_data,</if>
            created_at
        ) VALUES (
            QUESTION_SEQ.NEXTVAL,
            #{subject}, #{question_text},
            #{option_1},
            #{option_2},
            #{option_3},
            #{option_4},
            #{correct_answer},
            <if test="image_data != null">#{image_data, jdbcType=BLOB},</if>
            SYSTIMESTAMP
        )
    </insert>

    <select id="getQuestionsBySearch" resultType="org.joonzis.domain.QuestionDTO" parameterType="map">
		SELECT
			id,
			subject,
			question_text,
			option_1,
			option_2,
			option_3,
			option_4,
			correct_answer,
			image_data
		FROM (
			SELECT
				id,
				subject,
				question_text,
				option_1,
				option_2,
				option_3,
				option_4,
				correct_answer,
				image_data,
				ROWNUM AS rn FROM (
				SELECT
					id,
					subject,
					question_text,
					option_1,
					option_2,
					option_3,
					option_4,
					correct_answer,
					image_data
				FROM Question
				ORDER BY id DESC
			)
		)
		WHERE rn BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <select id="getTotalQuestionCount" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM Question
        <where>
            <if test="subjectCode != null and subjectCode != ''">
                subject = #{subjectCode}
            </if>
            <if test="query != null and query != ''">
                and question_text LIKE '%' || #{query} || '%'
            </if>
        </where>
    </select>

    <update id="updateQuestion" parameterType="org.joonzis.domain.QuestionDTO">
        UPDATE Question
        SET
        	subject = #{subject},
            question_text = #{question_text},
            option_1 = #{option_1},
            option_2 = #{option_2},
            option_3 = #{option_3},
            option_4 = #{option_4},
            correct_answer = #{correct_answer},
            <if test="image_data != null">
                image_data = #{image_data, jdbcType=BLOB}
            </if>
            <if test="image_data == null">
                image_data = NULL </if>
        WHERE
            id = #{id}
    </update>

    <delete id="deleteQuestions" parameterType="map">
    	DELETE FROM Question WHERE id IN
        <foreach collection="questionIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="subjectCode != null and subjectCode != ''">
            AND subject = #{subjectCode}
        </if>
    </delete>

    <select id="selectAllUsers" resultType="org.joonzis.domain.UsersVO">
        SELECT USER_NO, USER_ID, USER_NICK, USER_EMAIL, USER_DATE, USER_POINT, USER_RANK, USER_PLAY_COUNT, USER_1ST_COUNT, USER_PW, ISCHATBANNED, BANNED_TIMESTAMP, AUTH
        FROM USERS
    </select>

    <select id="searchUsers" resultType="org.joonzis.domain.UsersVO" parameterType="map">
        SELECT USER_NO, USER_ID, USER_NICK, USER_EMAIL, USER_DATE, USER_POINT, USER_RANK, USER_PLAY_COUNT, USER_1ST_COUNT, USER_PW, ISCHATBANNED, BANNED_TIMESTAMP, AUTH
        FROM USERS
        <where>
            <if test="searchType != null and searchValue != null and searchValue != ''">
                <choose>
                    <when test="searchType == 'userNo'">
                        USER_NO LIKE '%' || #{searchValue} || '%'
                    </when>
                    <when test="searchType == 'userId'">
                        USER_ID LIKE '%' || #{searchValue} || '%'
                    </when>
                    <when test="searchType == 'userNick'">
                        USER_NICK LIKE '%' || #{searchValue} || '%'
                    </when>
                    <when test="searchType == 'userRank'">
                        TO_CHAR(USER_RANK) LIKE '%' || #{searchValue} || '%'
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY USER_NO DESC
    </select>

    <select id="getUsersChatBanStatus" resultType="org.joonzis.domain.UsersVO" parameterType="map">
        SELECT user_no, ISCHATBANNED, user_nick
        FROM users
        WHERE user_no IN
        <foreach item="userNo" collection="userNos" open="(" separator="," close=")">
            #{userNo}
        </foreach>
    </select>

    <update id="updateChatBanStatus" parameterType="map">
        UPDATE users
        SET
            ISCHATBANNED = 1,
            BANNED_TIMESTAMP = #{bannedTimestamp}
        WHERE user_no IN
        <foreach item="userNo" collection="userNos" open="(" separator="," close=")">
            #{userNo}
        </foreach>
        AND ISCHATBANNED = 0
    </update>

    <update id="unbanChatUsers">
        UPDATE USERS
        SET
            ISCHATBANNED = 0,
            BANNED_TIMESTAMP = NULL
        WHERE
            ISCHATBANNED = 1
            AND BANNED_TIMESTAMP IS NOT NULL
            AND BANNED_TIMESTAMP <![CDATA[ <= ]]> (SYSTIMESTAMP - INTERVAL '72' HOUR)
    </update>


    <insert id="insertAchievement">
        INSERT INTO ACHIEVEMENTS (ach_title, ach_content, ach_reward, ach_type)
        VALUES (
            #{ach_title},
            #{ach_content},
            #{ach_reward},
            #{ach_type, jdbcType=VARCHAR}
        )
    </insert>

    <select id="searchAchievements" resultType="org.joonzis.domain.AchievementDTO">
    	SELECT ach_title, ach_content, ach_reward, ach_type
    	FROM (
        	SELECT
            	ach_title, ach_content, ach_reward, ach_type,
            	ROWNUM rn
        	FROM (
            	SELECT ach_title, ach_content, ach_reward, ach_type
            	FROM ACHIEVEMENTS
            	<where>
                	<if test="type != null and type != ''">
                    	ach_type = #{type, jdbcType=VARCHAR} </if>
                	<if test="query != null and query != ''">
                    	AND (ach_title LIKE '%' || #{query, jdbcType=VARCHAR} || '%' OR ach_content LIKE '%' || #{query, jdbcType=VARCHAR} || '%') </if>
            	</where>
            	ORDER BY ach_title ASC
        	)
        	WHERE ROWNUM &lt;= #{offset, jdbcType=NUMERIC} + #{limit, jdbcType=NUMERIC}
    	)
    	WHERE rn > #{offset, jdbcType=NUMERIC}
	</select>

    <select id="getTotalAchievementCount" resultType="int">
        SELECT COUNT(*)
        FROM ACHIEVEMENTS
        <where>
            <if test="type != null and type != ''">
                ach_type = #{type}
            </if>
            <if test="query != null and query != ''">
                AND (ach_title LIKE '%' || #{query} || '%' OR ach_content LIKE '%' || #{query} || '%')
            </if>
        </where>
    </select>

    <delete id="deleteAchievementsByTitles">
        DELETE FROM ACHIEVEMENTS
        <where>
            <if test="type != null and type != ''">
                ach_type = #{type}
            </if>
            <if test="titles != null and titles.size > 0">
                AND ach_title IN
                <foreach item="title" collection="titles" open="(" separator="," close=")">
                    #{title}
                </foreach>
            </if>
        </where>
    </delete>

    <insert id="insertItem" parameterType="org.joonzis.domain.ItemVO" useGeneratedKeys="true" keyProperty="item_no">
    	<selectKey keyProperty="item_no" resultType="int" order="BEFORE">
            SELECT SEQ_ITEMS.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO items (
        	item_no,
            item_name,
            item_price,
            image_file_name,
            item_type
        ) VALUES (
        	#{item_no},
            #{item_name},
            #{item_price},
            #{imageFileName},
            #{item_type}
        )
    </insert>

    <!-- <select id="searchItems" resultType="org.joonzis.domain.ItemVO" parameterType="map">
    SELECT item_no, item_name, item_price, item_type, image_file_name
    FROM (
        SELECT
            item_no, item_name, item_price, item_type, image_file_name,
            ROWNUM AS rn
        FROM (
            SELECT
                item_no, item_name, item_price, item_type, image_file_name
            FROM items
            WHERE item_type = #{item_type}
            <if test="query != null and query != ''">
                AND item_name LIKE '%' || #{query} || '%'
            </if>
            ORDER BY item_no ASC
        )
        WHERE ROWNUM &lt;= #{offset} + #{limit}
    )
    WHERE rn > #{offset}
	</select> -->
	<select id="searchItems" resultType="org.joonzis.domain.ItemVO" parameterType="map">
		 SELECT item_no, item_name, item_price, item_type, imageFileName
		 FROM (
		   SELECT
		     item_no, item_name, item_price, item_type, image_file_name AS imageFileName,
		     ROWNUM AS rn
		   FROM (
		     SELECT
		       item_no, item_name, item_price, item_type, image_file_name
		     FROM items
		     <where>
		       <if test="item_type != null and item_type != 'all'">
		         item_type = #{item_type}
		       </if>
		       <if test="query != null and query != ''">
		         AND item_name LIKE '%' || #{query} || '%'
		       </if>
		     </where>
		     ORDER BY item_no ASC
		   )
		   WHERE ROWNUM &lt;= #{offset} + #{limit}
		 )
		 WHERE rn > #{offset}
	 </select>
	  
  <!--   <select id="searchItems" resultType="org.joonzis.domain.ItemVO" parameterType="map">
	    SELECT item_no, item_name, item_price, item_type, image_file_name as imageFileName
	    FROM (
	        SELECT
	            item_no, item_name, item_price, item_type, image_file_name,
	            ROWNUM AS rn
	        FROM (
	            SELECT
	                item_no, item_name, item_price, item_type, image_file_name
	            FROM items
	            WHERE item_type = #{item_type}
	            <if test="query != null and query != ''">
	                AND item_name LIKE '%' || #{query} || '%'
	            </if>
	            ORDER BY item_no ASC
	        )
	        WHERE ROWNUM &lt;= #{offset} + #{limit}
	    )
	    WHERE rn > #{offset}
	</select> -->

	<select id="getTotalItemCount" resultType="int" parameterType="map">
	    SELECT COUNT(*)
	    FROM items
	    <where>
	        <if test="item_type != null and item_type != 'all'">
	            item_type = #{item_type}
	        </if>
	        <if test="query != null and query != ''">
	            AND item_name LIKE '%' || #{query} || '%'
	        </if>
	    </where>
	</select>
    <!-- <select id="getTotalItemCount" resultType="int">
        SELECT COUNT(*)
        FROM items
        WHERE item_type = #{item_type}
        <if test="query != null and query != ''">
            AND item_name LIKE '%' || #{query} || '%' </if>
    </select> -->

	<update id="updateItem" parameterType="org.joonzis.domain.ItemVO">
        UPDATE items
        SET
            item_name = #{item_name},
            item_price = #{item_price},
            image_file_name = #{imageFileName}
        WHERE item_no = #{item_no} AND item_type = #{item_type}
    </update>

    <delete id="deleteItems" parameterType="map">
	    DELETE FROM items
	    WHERE item_type = #{itemType}
	      AND item_no = #{itemNo}
	</delete>

    <select id="selectQuestRequests" resultType="org.joonzis.domain.QuestRequestVO" parameterType="map">
    SELECT
        id, user_no, user_id, subject, question_text, option_1, option_2, option_3, option_4, correct_answer, image_data, status, created_at
    FROM (
        SELECT
            t2.id,
            t2.user_no,
            t2.user_id,
            t2.subject,
            t2.question_text,
            t2.option_1,
            t2.option_2,
            t2.option_3,
            t2.option_4,
            t2.correct_answer,
            t2.image_data,
            t2.status,
            t2.created_at,
            ROWNUM AS rn
        FROM (
            SELECT
                qr.ID AS id,
                qr.USER_NO AS user_no,
                u.USER_ID AS user_id,
                qr.SUBJECT AS subject,
                qr.QUESTION_TEXT AS question_text,
                qr.OPTION_1 AS option_1,
                qr.OPTION_2 AS option_2,
                qr.OPTION_3 AS option_3,
                qr.OPTION_4 AS option_4,
                qr.CORRECT_ANSWER AS correct_answer,
                qr.IMAGE_DATA AS image_data,
                qr.STATUS AS status,
                qr.REQUEST_CREATED_AT AS created_at
            FROM QUESTION_REQUEST qr
            LEFT JOIN USERS u ON qr.USER_NO = u.USER_NO
            <where>
                <if test="searchTerm != null and !searchTerm.isEmpty()">
                    AND (qr.QUESTION_TEXT LIKE '%' || #{searchTerm} || '%' OR u.USER_ID LIKE '%' || #{searchTerm} || '%')
                </if>
                <if test="filterStatus != null and !filterStatus.isEmpty()">
                    AND qr.STATUS = #{filterStatus}
                </if>
            </where>
            ORDER BY qr.REQUEST_CREATED_AT DESC
        ) t2
        WHERE ROWNUM &lt;= (#{offset} + #{limit})
    )
    WHERE rn > #{offset}
	</select>

    <select id="getQuestRequestTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM QUESTION_REQUEST qr
        LEFT JOIN USERS u ON qr.USER_NO = u.USER_NO
        WHERE 1=1
        <if test="searchTerm != null and !searchTerm.isEmpty()">
            AND (qr.QUESTION_TEXT LIKE '%' || #{searchTerm} || '%' OR u.USER_ID LIKE '%' || #{searchTerm} || '%')
        </if>
        <if test="filterStatus != null and !filterStatus.isEmpty()">
            AND qr.STATUS = #{filterStatus}
        </if>
    </select>

    <select id="selectQuestRequestById" resultType="org.joonzis.domain.QuestRequestVO">
	    SELECT
	        qr.ID AS id,
	        qr.USER_NO AS user_no,
	        u.USER_ID AS user_id,
	        qr.SUBJECT AS subject,
	        qr.QUESTION_TEXT AS question_text,
	        qr.OPTION_1 AS option_1,
	        qr.OPTION_2 AS option_2,
	        qr.OPTION_3 AS option_3,
	        qr.OPTION_4 AS option_4,
	        qr.CORRECT_ANSWER AS correct_answer,
	        qr.IMAGE_DATA AS image_data,
	        qr.STATUS AS status,
	        qr.REQUEST_CREATED_AT AS created_at
	    FROM QUESTION_REQUEST qr
	    LEFT JOIN USERS u ON qr.USER_NO = u.USER_NO
	    WHERE qr.ID = #{id}
	</select>

    <update id="updateQuestRequest">
        UPDATE QUESTION_REQUEST
        SET
            SUBJECT = #{subject},
            QUESTION_TEXT = #{question_text},
            OPTION_1 = #{option_1},
            OPTION_2 = #{option_2},
            OPTION_3 = #{option_3},
            OPTION_4 = #{option_4},
            CORRECT_ANSWER = #{correct_answer},
            STATUS = #{status},
            <if test="image_data != null">
                IMAGE_DATA = #{image_data, jdbcType=BLOB}
            </if>
            <if test="image_data == null and image_data_base64 != null and image_data_base64.isEmpty()">
                IMAGE_DATA = NULL
            </if>
        WHERE ID = #{id}
    </update>
    
    <insert id="insertQuestion2" parameterType="org.joonzis.domain.QuestRequestVO">
    	INSERT INTO QUESTION (
    		ID,
    		SUBJECT,
    		QUESTION_TEXT,
    		OPTION_1,
    		OPTION_2,
    		OPTION_3,
    		OPTION_4,
    		CORRECT_ANSWER,
    		<if test="image_data != null">IMAGE_DATA,</if>
    		CREATED_AT
    	) VALUES (
    		QUESTION_SEQ.NEXTVAL,
    		#{subject},
    		#{question_text},
            #{option_1},
            #{option_2},
            #{option_3},
            #{option_4},
            #{correct_answer},
            <if test="image_data != null">#{image_data, jdbcType=BLOB},</if>
            SYSTIMESTAMP
    	)
    </insert>
    
    <insert id="registerNotice" parameterType="String">
		INSERT INTO NOTICE VALUES(SEQ_NOTICE.NEXTVAL, #{subject}, #{message}, sysdate)
    </insert>
    
    <update id="editNotice">
    	UPDATE NOTICE
    	SET
    		SUBJECT = #{subject},
    		MESSAGE = #{message},
    		CREATED_AT = sysdate
    	WHERE ID = #{id}
    </update>
    
    <delete id="deleteNotice">
    	DELETE FROM NOTICE
    	WHERE ID = #{id}
    </delete>


    
    <insert id="registerFaq" parameterType="String">
		INSERT INTO FAQ VALUES(SEQ_FAQ.NEXTVAL, #{question}, #{answer}, #{category}, sysdate)
    </insert>
    
    <update id="editFaq">
    	UPDATE FAQ
    	SET
    		QUESTION = #{question},
    		ANSWER = #{answer},
    		CATEGORY = #{category},
    		CREATED_AT = sysdate
    	WHERE ID = #{id}
    </update>
    
    <delete id="deleteFaq">
    	DELETE FROM FAQ
    	WHERE ID = #{id}
    </delete>
    
    
    
    
</mapper>