<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.MemberMapper">
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="org.joonzis.domain.UsersVO">
		<selectKey keyProperty="user_no" resultType="int" order="BEFORE">
	        SELECT SEQ_USERS.NEXTVAL FROM dual
	    </selectKey>
		INSERT INTO USERS (USER_NO, USER_NICK, USER_ID, USER_PW, USER_EMAIL, USER_DATE)
		VALUES (#{user_no}, #{user_nick}, #{user_id}, #{user_pw}, #{user_email}, sysdate)
	</insert>
	<!-- 유저 데코,리워드에 추가 -->
	<insert id="insertDeco">
		INSERT INTO USER_DECO (USER_NO) VALUES (#{user_no})
	</insert>
	<insert id="insertReward">
		INSERT INTO USER_REWARDS (USER_NO) VALUES (#{user_no})
	</insert>
	
	<!-- 로그인 -->
	<select id="selectUserByIdAndPw" resultType="org.joonzis.domain.UserInfoDTO">
		SELECT *
		FROM users u
		JOIN user_deco d ON u.user_no = d.user_no
		WHERE u.user_id = #{user_id}
		  AND u.user_pw = #{user_pw}
        <!-- SELECT *
        FROM users
        WHERE user_id = #{user_id}
          AND user_pw = #{user_pw} -->
    </select>
    
    <!-- 회원 포인트 조회 -->
    <select id="getUserPoint" resultType="long">
    	SELECT USER_POINT
    	FROM USERS
    	WHERE USER_ID = #{user_id}
    </select>
    
    <!-- 포인트 구매 -->
    <update id="updatePoint">
	    UPDATE users
	    SET user_point = user_point + #{amount}
	    WHERE user_id = #{userId}
	</update>
	
	<!-- 유저 정보 조회 -->
	<select id="getUserById" parameterType="String" resultType="org.joonzis.domain.UserInfoDTO">
		SELECT *
		FROM users u
		JOIN user_deco d ON u.user_no = d.user_no
		WHERE u.user_id = #{user_id}
	</select>
</mapper>