<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.PlayMapper">

	<resultMap id="questionResultMap" type="org.joonzis.domain.QuestionDTO">
        <id property="id" column="id"/>
        <result property="subject" column="subject"/>
        <result property="question_text" column="question_text"/>
        <result property="option_1" column="option_1"/>
        <result property="option_2" column="option_2"/>
        <result property="option_3" column="option_3"/>
        <result property="option_4" column="option_4"/>
        <result property="correct_answer" column="correct_answer"/>
        <result property="image_data" column="image_data"/>
    </resultMap>

	<!-- 카테고리 별 문제 가져오기 -->
	<select id="getQuestionsByCategory" resultMap="questionResultMap" parameterType="map">
	    SELECT *
	    FROM (
	        SELECT *
	        FROM ${category}
	        ORDER BY DBMS_RANDOM.VALUE
	    )
	    WHERE ROWNUM &lt;= 20
	</select>
	
	
	<!-- 랜덤 모드 가져오기(랭크모드) -->
	<select id="getRandomQuestions" resultMap="questionResultMap">
        SELECT *
        FROM (
            SELECT * FROM (
                SELECT * FROM cpe_q
                UNION ALL
                SELECT * FROM cpei_q
                UNION ALL
                SELECT * FROM cpet_q
                UNION ALL
                SELECT * FROM ict_q
                UNION ALL
                SELECT * FROM icti_q
                UNION ALL
                SELECT * FROM lm1_q
                UNION ALL
                SELECT * FROM lm2_q
                UNION ALL
                SELECT * FROM net1_q
                UNION ALL
                SELECT * FROM net2_q
                UNION ALL
                SELECT * FROM sec_q
            )
            ORDER BY DBMS_RANDOM.VALUE
        )
        WHERE ROWNUM &lt;= 20
    </select>
    
    <update id="increaseRewardPoints">
    	UPDATE USERS 
    	SET
    		USER_POINT = USER_POINT + #{point}
    	WHERE USER_NICK = #{userNick}
    </update>
    
    <insert id="insertHistory" parameterType="org.joonzis.domain.UserQuestionHistoryDTO">
	    INSERT INTO USER_QUESTION_HISTORY VALUES (
	      user_q_seq.NEXTVAL,
	      #{userNick}, #{questionId}, #{subject},
	      #{selectedAnswer}, #{correctAnswer},
	      #{isCorrect,jdbcType=CHAR}, #{submittedAt}, sysdate
		)
	</insert>
    
    
    <select id="getQuestionReviewList" resultType="org.joonzis.domain.UserQuestionHistoryDTO">
    	SELECT 
    		USER_NICK,
    		SUM(CASE WHEN IS_CORRECT='1' THEN 1 ELSE 0 END) AS CORRECT_COUNT,
    		SUBMIT_DATE,
    		SUBMITTED_AT
    	FROM
    		USER_QUESTION_HISTORY
    	WHERE 
    		USER_NICK = #{userNick}
		GROUP BY 
		    SUBMITTED_AT, USER_NICK, SUBMIT_DATE
		ORDER BY 
		    SUBMIT_DATE DESC
    </select>
    
    
    <select id="getUserQuestionHistory" resultType="org.joonzis.domain.UserQuestionHistoryDTO">
    	SELECT
		    q.id,
		    q.question_text,
		    q.option_1,
		    q.option_2,
		    q.option_3,
		    q.option_4,
		    q.correct_answer,
		    q.image_data,
		    h.selected_answer,
		    h.is_correct
		FROM 
			USER_QUESTION_HISTORY h 
		INNER JOIN
			${subject} q
		ON 
			h.question_id=q.id
		WHERE
			submitted_at=#{submiitedAt}
    </select>
    
    
</mapper>