<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.UploadedFileMapper">

	<insert id="insertUploadedFile" parameterType="org.joonzis.domain.UploadedFileVO">
        INSERT INTO uploaded_file (
            file_no,
            original_name,
            stored_name,
            stored_path,
            upload_time
        ) VALUES (
            uploaded_file_seq.NEXTVAL,
            #{original_name},
            #{stored_name},
            #{stored_path},
            CURRENT_TIMESTAMP
        )
    </insert>
	
</mapper>