<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.UserMapper">
	 
	 <resultMap id="userInfoDecoMap" type="org.joonzis.domain.UserInfoDecoDTO">
	    <result column="user_no" property="user_no"/>
	    <result column="user_rank" property="user_rank"/>
	    <result column="user_nick" property="user_nick"/>
	    <result column="boundary_class_name" property="boundary_class_name"/>
	    <result column="title_class_name" property="title_class_name"/>
	    <result column="background_class_name" property="background_class_name"/>
	    <result column="balloon_class_name" property="balloon_class_name"/>
	</resultMap>

	 <!-- 유저 랭킹 가져오기-->
	<select id="getUserRankingList" resultMap="userInfoDecoMap">
	    <![CDATA[
	        SELECT *
			FROM (
			  SELECT 
			    U.USER_NO AS user_no,
			    U.USER_RANK AS user_rank,
			    U.USER_NICK AS user_nick,
			    COALESCE(D.BOUNDARY_CLASS_NAME, 'default-boundary') AS boundary_class_name,
			    COALESCE(D.TITLE_CLASS_NAME, 'default-title') AS title_class_name,
			    COALESCE(D.BACKGROUND_CLASS_NAME, 'default-background') AS background_class_name,
			    COALESCE(D.BALLOON_CLASS_NAME, 'default-balloon') AS balloon_class_name
			  FROM USERS U
			  LEFT JOIN USER_DECO D ON U.USER_NO = D.USER_NO
			  ORDER BY U.USER_RANK DESC
			)
			WHERE ROWNUM <= 10
	    ]]>
	</select>
	
	<!-- 아이템 겟 테스트 -->
	<select id="getItemList" resultType="org.joonzis.domain.ItemVO">
		SELECT * FROM ITEMS
	</select>

	<!-- 아이템 업데이트 테스트 -->
	<update id="updateItem" parameterType="org.joonzis.domain.UserDecoUpdateDTO">
		UPDATE USER_DECO
	    <set>
	        <choose>
	            <when test="item_type == 'background'">
	                BACKGROUND_CLASS_NAME = #{css_class_name}
	            </when>
	            <when test="item_type == 'title'">
	                TITLE_CLASS_NAME = #{css_class_name}
	            </when>
	            <when test="item_type == 'boundary'">
	                BOUNDARY_CLASS_NAME = #{css_class_name}
	            </when>
	            <when test="item_type == 'balloon'">
	                BALLOON_CLASS_NAME = #{css_class_name}
	            </when>
	        </choose>
	    </set>
	    WHERE USER_NO = #{user_no}
	</update>
	
	<select id="getUserInfoByUserNo" resultType="org.joonzis.domain.UserInfoDecoDTO">
		SELECT *
		FROM users u
		JOIN user_deco d ON u.user_no = d.user_no
		WHERE u.user_no = #{user_no}
	</select>
	
	<!-- 업적 달성 포인트 추가 -->
	<update id="updateUserPoint" parameterType="org.joonzis.domain.UserAchievementDTO">
		UPDATE USERS
	    SET USER_POINT = USER_POINT + #{ach_reward}
	    WHERE USER_NO = #{user_no}
	</update>
</mapper>