.body_left,
.body_content,
.lobby_center {
  min-height: 0;
}

.lobby_center {
  flex: 1;                    /* .body_content 안에서 남은 공간 차지 */
  display: flex;              /* flex 컨테이너로 전환 */
  flex-direction: column;     /* 세로 쌓기 */
}

/* 전체 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 상단 바 */
.top_nav {
  height: 50px;
  background-color: grey;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0 20px;
  gap: 20px;
}

.top_nav span {
  margin-left: auto;
}

/* 메인 영역: 좌측 사이드바 + 본페이지 */
.body {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 20px 20px;

  color: black;
  width: 100%;
  background-color: white;
  background-image: url('../../public/images/violet2.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;

}

/* 좌측 묶음: 유저정보 + 로비 + 채팅 */
.body_left {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-right: 20px;
  background-color: white;
  margin-right: 50px;
}

/* 상단 컨텐츠: 유저정보 + 중앙 */
.body_content {
  display: flex;
  flex: 1;
  gap: 20px;
  padding-bottom: 20px;
  background-color: white;
}

/* 중앙 로비 영역 */
.lobby_center {
  flex: 1;
  /* background-color: #394866; */
}
