/* fontColor color */
.red_fontColor { color: red !important; font-weight: bold; }
.orange_fontColor { color: orange !important; font-weight: bold; }
.yellow_fontColor { color: yellow !important; font-weight: bold; }
.green_fontColor { color: green !important; font-weight: bold; }
.blue_fontColor { color: blue !important; font-weight: bold; }
.indigo_fontColor { color: indigo !important; font-weight: bold; }
.violet_fontColor { color: purple !important; font-weight: bold; }

.white_fontColor { color: white !important; font-weight: bold; }
.black_fontColor { color: black !important; font-weight: bold; }

@keyframes rainbowColor {
  0%   { color: red; }
  16%  { color: orange; }
  32%  { color: yellow; }
  48%  { color: green; }
  64%  { color: blue; }
  80%  { color: indigo; }
  100% { color: violet; }
}

.rainbow_fontColor {
  animation: rainbowColor 2s infinite linear !important;
  font-weight: bold;
}

/* title */
.admin_title { color: #00FFC6; font-weight: bold;}
.tester_title { color: 	#FFD700; font-weight: bold;}
.vip_title {
  font-weight: 600;
  font-size: 1.1em;
  color: #1E90FF; /* 딥블루 */
  text-shadow: 1px 1px 2px rgba(30, 144, 255, 0.5);
  user-select: none;
}
.itemImage{
  width: 130px;
  height: 130px;
}
@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}

.collector_title {
  font-weight: bold;
  font-size: 1.1em;
  background: linear-gradient(90deg, #ffd700 25%, #fff 50%, #ffd700 75%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 2.5s linear infinite;
  user-select: none;
}
