*{
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-category{
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.header li span{
  display: block;
  width: 110px;
  text-align: center;
  padding: 23px;
  text-decoration: none;
  color: white;
}
.header li span:hover{
  background-color: white;
  color: black;
  font-weight: bold;
}
.header-logo{
  width: 200px;
  overflow: hidden;
  margin: 0 40px;
}
.header-enter, .header-signout{
  width: 50px;  
  height: 50px;
  margin: 0 15px;
}

.header-box-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}