body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1f22;
  color: white;
}

.login-background {
  background-image: url('../../public/images/backgroundColor.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1e1f22;
  flex-direction: column;
  gap: 70px;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.04);
  padding: 1rem;
  border-radius: 8px;
  width: 1000px;
  min-height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login_submit{
  align-content: center;
  width: 426px;
  margin-left: 50px;
}
.login-option_2{
  display: flex;
  flex-direction: row;
}

.login-box input {
  width: 100%;
  padding: 15px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255,0.05);
  box-sizing: border-box;
  color: white;
}

.login-box button{
  border: none;
}

.loginButton {
  padding: 0.5rem;
  background-color: #394866;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.kakao-login {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(254, 229, 0);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.login-options {
  display: flex;
  justify-content: space-between;
}

.login-options button {
  padding: 0.4rem;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  background: none;
}
.loginButton{
  width: 100%;
  background-image: url('../../public/images/Submit.png');
}

.login-image{
  left: 20px;
  margin-left: 70px;
}

.main-layout {
  display: flex;
  height: 100vh;
}

.sidebar, .channel-list, .user-list {
  background-color: #2b2d31;
  padding: 1rem;
  color: white;
}

.sidebar {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.channel-list, .user-list {
  width: 200px;
}

.chat-area {
  flex: 1;
  background-color: #313338;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.chat-input input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
}