.body_left,
.body_content,
.lobby_center {
  min-height: 0;
}

.lobby_center {
  flex: 1;                    /* .body_content 안에서 남은 공간 차지 */
  display: flex;              /* flex 컨테이너로 전환 */
  flex-direction: column;     /* 세로 쌓기 */
}

/* 전체 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 상단 바 */
.top_nav {
  height: 70px;
  background-color: #0A0D17;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
}

/* 메인 영역: 좌측 묶음 + 우측 유저 목록 */
.body {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 20px 20px;
  color: black;
  width: 100%;
  background-color: white;
  background-image: url('../../public/images/violet2.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;

}

/* 좌측 묶음: 유저정보 + 로비 + 채팅 */
.body_left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 20px;
}

/* 우측 묶음: 유저목록 + 랭킹 */
.body_right {
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* 유저 랭킹 */
.user_ranking {
  height: calc(60% - 12px);
  background-color: rgba(255, 255 , 255, 0.1);
  color: white;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.3);
}

/* 유저 목록 */
.user_list {
  height: calc(40% - 8px);
  background-color: rgba(255, 255 , 255, 0.1);
  color:white;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

/* 상단 컨텐츠: 유저정보 + 중앙 */
.body_content {
  display: flex;
  flex: 1;
  gap: 20px;
  padding-bottom: 20px;
}

/* 하단 채팅창 */
.chat_box {
  height: 250px;
  background-color: rgba(255, 255 , 255, 0.1);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

/* 유저 정보 영역 */
.user_info {
  width: 350px;
  background-color: rgba(255, 255 , 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 1px 3px 1px rgb(0, 0, 0, 0.3);
  color: white;
}

/* 중앙 로비 영역 */
.lobby_center {
  flex: 1;
  /* background-color: #394866; */
}
