/* 전체 컨테이너 */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 상단 바 */
.top-nav {
  height: 70px;
  background-color: #394866;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
}

/* 메인 영역: 좌측 묶음 + 우측 친구 목록 */
.main-body {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 10px 20px;
  color: black;
  background-color: lightgrey;
}

/* 좌측 묶음: 유저 + 로비 + 채팅 */
.main-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 20px;
}

/* 우측 묶음: 유저목록 + 랭킹 */
.main-right {
  width: 300px;
  background-color: lightgrey;
  box-sizing: border-box;
}

/* 유저 랭킹 */
.user-ranking {
  height: 35vh;
  background-color: #394866;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* 친구 목록 */
.friend-list {
  height: 53vh;
  background-color: #394866;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

/* 상단 컨텐츠: 유저정보 + 중앙 */
.main-content {
  display: flex;
  flex: 1;
  gap: 20px;
  padding-bottom: 20px;
}

/* 하단 채팅창 */
.chat-box {
  height: 250px;
  background-color: #394866;
  padding: 10px;
  box-sizing: border-box;
}

/* 유저 정보 영역 */
.user-info {
  width: 350px;
  background-color: #394866;
}

/* 중앙 로비 영역 */
.lobby-center {
  flex: 1;
  background-color: #394866;
}




