.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}

.nickModalInput {
  width: 100%;
  padding: 8px;
  margin: 12px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
}

.buttons button {
    border: 1px solid black;
    color: black;
}
