.roomListHeader {
  display: flex;
  /* justify-content: flex-end; */
  margin-bottom: 10px;
  gap: 10px;
}

.createBtn {
  padding: 8px 16px;
  border: none;
  background-image: url('../../public/images/Submit.png');
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.4;
}

.roomListSearch{
  width: 780px;
  height: 40px;
  margin: 0 10px;
  padding-left: 20px;
  color: black;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
}

.roomListBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
  height: 530px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.roomCard {
  background-color: white;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.roomMode {
  font-weight: bold;
  width: 100px;
}

.roomTitle {
  flex: 1;
  margin: 0 20px;
}

.roomMeta span {
  margin-left: 10px;
}
