  .roomListHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  gap: 20px;
}

.createBtn {
  padding: 8px 40px;
  border: none;
  background-color: blueviolet;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 20px;
  box-sizing: border-box;
  overflow: hidden;
  transition: 
    background-color 0.2s,
    color 0.2s,
    transform 0.2s,
    box-shadow 0.2s;
}

.createBtn:hover{
  background-color: rgba(255, 255, 255, 0.9);
  color: #222;
  font-weight: bold;
  transform: translateY(-3px); /* 살짝 위로 뜨는 효과 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.createBtn:focus {
  outline: none;
}

.createBtn:hover::after{
  width: 60%;
}

.roomListSearch{
  height: 40px;
  margin: 0 10px;
  padding-left: 20px;
  color: black;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  flex: 1 1 0;      /* grow:1, shrink:1, basis:0 */
  min-width: 200px;
}

.roomListBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: rgba(255, 255 , 255, 0.1);
  border-radius: 10px;
  color: black;
  height: 523px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.roomListBody::-webkit-scrollbar{
  display: none;
}

.roomCard {
  background-color: white;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.roomMode {
  font-weight: bold;
  width: 100px;
}

.category{
  font-weight: bold;
  width: 100px;
}

.roomTitle {
  flex: 1;
}

.roomMeta span {
  margin-left: 10px;
}

.matchModalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matchModal {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 80%;
}

.cancelBtn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.cancelBtn:hover {
  background-color: #d32f2f;
}
