@import './Admin.css';

.category button {
  background-color: #35373d; 
}

.category button:hover {
  background-color: #5a6268;
}

.searchResults li {
  background-color: #2b2e35; 
  color: #ddd;
}

.searchResults li.selected-edit {
  background-color: #2b2e35; 
  font-weight: bold;
}

.pagination button.active {
  background-color: #5a6268;
  color: white;
}

.pagination button:not(.active):hover {
  background-color: #e9ecef;
}

/* 수정 폼 내 버튼 스타일 */
.button-group button.reset-button {
  background-color: #35373d;
}

.button-group button.reset-button:hover {
  background-color: #5a6268;
}

.button-group button.submit-button {
  background-color: #35373d;
}

.button-group button.submit-button:hover {
  background-color: #5a6268;
}

.button-group button.reset-button2 {
  background-color: #35373d;
  margin: 0 10px;
}

.button-group button.reset-button2:hover {
  background-color: #5a6268;
  margin: 0 10px;
}

.button-group button.submit-button2 {
  background-color: #35373d;
  margin: 0 10px;
}

.button-group button.submit-button2:hover {
  background-color: #5a6268;
  margin: 0 10px;
}

.button-group button.delete-button {
  background-color: red;
  color: white;
  margin: 0 10px;
}

.button-group button.delete-button:hover {
  background-color: #ff4d4d;
  margin: 0 10px;
}

.ach-update-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.ach-update-button:hover {
  background-color: #6fdc88; /* 연한 녹색 hover */
}
/* 본문, 선택지 등 입력 필드의 disabled 상태 스타일 */
.question-detail-form input[type="text"]:disabled,
.item-detail-form input[type="text"]:disabled,
.item-detail-form input[type="number"]:disabled,
.question-detail-form select:disabled,
.question-detail-form textarea:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
  color: #6c757d;
}

/* 드롭다운 상세 수정 폼 */
.item-detail-form,
.achievement-detail-form {
  /* background-color: #f9f9f9; */
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: white;
}

/* 드롭다운 애니메이션 효과 */
.dropdown-content {
  animation: dropdownFade 0.3s ease-in-out;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 이미지 미리보기 */
.item-detail-form .image-preview {
  margin-top: 10px;
  max-width: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
}